.skills {
    padding-top: 120px;
    &__wrapper {
        padding: 60px 10px;
        display: grid;
        grid-template: repeat(2, minmax(270px, auto)) / repeat(4, minmax(270px, auto));
        gap: 13px;
    }
    &__item {
        padding: 30px 30px;
        border: 1px solid $second-color;
        &:nth-child(4) {
            padding-top: 55px;
        }
        &:nth-child(7) {
            padding-top: 50px;
        }
        &-title {
            margin-top: 20px;
        }
        &-text {
            margin-top: 15px;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__ratings {
        padding-top: 60px;
        display: grid;
        grid-template: repeat(2, 70px) / repeat(3, 350px);
        gap: 30px 45px;
        &-item {
            position: relative;
            padding-top: 8px;
        }
        &-text {
            display: flex;
            justify-content: space-between;
        }
        &-line {
            margin-top: 27px;
            width: 350px;
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
            span {
                background: $main-color;
                height: 100%;
                display: block;
                border-radius: 4px;
            }
        }
        &-title {
            margin-left: 14px;
            @include before_circle;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}